### Declaring variables:
Variables are declared with a single equal sign

```
a = 3
b = 4
c = 1.5
```

Characters (referred to as strings) are enclosed in quotes
Single (') and double(") quotes are treated teh same

```
d = 'hello'
e = " world"
```

A space is also a character, as well as numbers. This is a string, not a number:

```
f = '123'
```

You can convert between data types:

```
cc = str(c)
ff = int(f)
aa = float(a)
```

`int` is for integer, `str` is for string, `float` is for... take a wild guess!  

Convert only if logically possible: you can't convert letters to numbers, but you can convert numbers to strings:

```
dd = int(d)
```

*Can't convert `hello` to an `int`.* :-)

### Booleans

Boolean is a datatype, and an important one...  

Take this simple example:

```
g = 3
a == g
```

The double equal sign tests if the two objects are equal. This is a logical operator, it tests whether a condition is `True` or `False`.  

```
b == g
```

Here are some more logical operators that return a boolean:

```
a > g
a <= g
```

### Concatenation:
You must convert numbers to a string before concatenation.

```
cat_1 = d+e
cat_2 = d+e+str(c)
```

#### Lists:  
This is a list, simply a collection of objects. Lists are enclosed by square brackets `[]`:

```
list_1 = [1,2,3]
```

Lists can contain numbers or strings (or any other data type)
```
list_2 = ['a', 'b', 'c']
```

Or a combination of different data types:
```
list_3 = ['abcd',1,'2',3.4,'3d']
```

I can't think of a time when I would do that... but do-able! Would make life difficult when looping... more on that later.

### Indexing
**Starts at Zero!**  

This will return the first element in a list. You can access elements of a list based on their index position...
```
list_1[0]
list_1[1]
list_1[2]
```
**Indexing in Python always starts at zero**

### More lists:  

You can use the range function to create a sequenced list:
```
range_1 = range(5)
```

This is just an easy way of creating a list...  
The range function starts at 0 if only one parameter is given, and it creates a sequenced list up to BUT NOT including that number.  

Play around with this:  
```
range_2 = range(1,5)
```  
If you give two parameters, the first is the starting number and the second is the stopping number, but it counts up to but not including the stop number.

*Note: you can overwrite variables whenever you want.*

This is an empty list:
```
list_4 = []
```

One method of populating a list is with the append function:
```
list_4.append(1)
```

### Now, the all important print function!
*Don't you dare skip the parentheses!*  
```
print(a)
```

You can type code within the parentheses, as with any function:

```
print(d+e+str(c))
```

*Hot tip:* The print function is a very useful debugging tool. When you're having trouble figuring out where your code is breaking, try inserting a print function at various places to ensure you're outputting what you think you are.

## Loops  

Loops are a fundamental structure in programming.  

There are two kinds of loops: for and while  

A for loop:  
```
k = 'abcdef'
for i in k:
    print(i)
```

Loops are a fundamental structure in programming. This is how you blast through boring, repetitive stuff, and makes programming very powerful to folks like us.  

You can read the above for loop as: "For each element in K, print that element".  
You will learn about the `in` operator in the full lab0, we use it with iteration using a for loop.  
`for` and `in` establish the structure of the for loop. `i` is what we call the "iterable". Think of it as a placeholder variable.

*You can name the iterable anything you want*:  
```
for doodad in k:
    print(doodad)
```

In this example, `k` is an iterable object. An iterable object is one that is a collection of objects, like a list populated with stuff. 
```
for thingy in list_1:
    print(thingy)
```

Two examples to try in the next cells:
```
for elem in list_3:
    print(elem)
```
and:  
```
for i in range(len(list_3)):
    print('index')
    print(i)
    print('value')
    print(list_3[i])
```

Think about how these two examples are different. What is the iterable in each?  
This seems like a simple difference... but it's powerful in application.  


How about a more complicated example: 
```
myList = []
for char in d:
    myList.append(char)

print(myList)
```

Here we iterated over `d` and placed each character into a list.